<script type="text/html" data-template-name="node-red-constrib-zip-folder">
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name" />
  </div>
  <div class="form-row">
    <label for="node-input-filename"><i class="icon-tag"></i> Filename</label>
    <input type="text" id="node-input-filename" placeholder="myfile" />
  </div>
  <div class="form-row">
    <label for="node-input-sourcePath"
      ><i class="icon-tag"></i> Folder source</label
    >
    <input type="text" id="node-input-sourcePath" placeholder="/path/path/" />
  </div>
  <div class="form-row">
    <label for="node-input-targetPath"
      ><i class="icon-tag"></i> Folder target</label
    >
    <input type="text" id="node-input-targetPath" placeholder="/path/path/" />
  </div>
  <div class="form-row">
    <label for="node-input-compression"
      ><i class="fa fa-play-circle"></i> <span>Compression</span></label
    >
    <select type="text" id="node-input-compression">
      <option value="compression-zip">Zip</option>
      <option value="compression-tar">Tar</option>
    </select>
  </div>
</script>
